@model IEnumerable<string>

<div class="d-grid gap-2">
    <a class ="btn btn-outline-primary" asp-route="default">
		Home
	</a>
	@foreach (string category in Model ?? Enumerable.Empty<string>())
	{
		<a class="btn	btn-outline-primary" asp-route="default"
		   asp-route="category" asp-route-category="@category">
			@category
		</a>
	}
</div>
